body {
	font-family:
		-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 20px;
	background-color: #053463;
}

.app-title {
	text-align: center;
	color: #ffffff;
	margin-bottom: 20px;
}

.todos-list {
	max-width: 600px;
	margin: 0 auto;
}

.search-bar {
	width: 300px;
	margin: 20px auto;
	padding: 10px;
	background-color: #f0f0f0;
	border-radius: 10px;
	display: flex;
	gap: 10px;
	/* margin-right: 20px; */
}

.search-input {
	flex: 1;
	border: none;
	background-color: #f0f0f0;
	font-size: 16px;
}

.search-input:focus {
	border: none;
	outline: none;
}

.todo-item {
	display: flex;
	align-items: center;
	padding: 10px;
	border: 1px solid #dee2e6;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-item input[type='checkbox'] {
	margin-right: 10px;
	cursor: pointer;
}

.todo-item input[type='text'] {
	flex: 1;
	font-size: 16px;
}

.todo-item.completed input[type='text'] {
	text-decoration: line-through;
	color: #6c757d;
}

.new-todo-item {
	display: flex;
	align-items: center;
	padding: 10px;
	border: 2px solid #a9acaf;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: #c2c0c0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-todo-item input[type='checkbox'] {
	margin-right: 10px;
	cursor: pointer;
}

.new-todo-item input[type='text'] {
	flex: 1;
	font-size: 16px;
	background-color: #c2c0c0;
	color: #6a6a6a;
}

.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25px;
	height: 25px;
	border: 5px solid rgb(255, 255, 255);
	border-radius: 50%;
	border-left-color: transparent;
	animation: loader 1s infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.button-todo-item-action {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.todo-text {
	border: none;
}

.todo-text:focus {
	border: none;
	outline: none;
}

.todo-item.highlighted {
	border: 2px solid #ffcc00;
}

.todo-item.highlighted .todo-text {
	color: #333;
}

.sort-button {
	background-image: url('./assets/sort.png');
	background-size: 100% 100%;
	width: 20px;
	border: none;
	cursor: pointer;
}

.todo_form {
	display: flex;
	width: 100%;
	align-items: center;
	gap: 10px;
}
